/*CSS variables for colors*/
:root {
  --primary-blue: #83b4c4;
  --logo-blue: #046c8c;
  --hover-blue: #348ca4;
  --night-black: #2f2e41;
  --sun-red: #ff6884;
  --cloud-gray: #e6e6e6;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--night-black);
  box-sizing: border-box;
  overflow-x: hidden; /*we don't want to scroll left and right on our pages*/
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none; /*To hide the native scroll bar*/
}

img {
  width: 100%; /*This makes an image adjust its size to its container */
}

.logo {
  margin: 2rem 0;
}

button {
  display: flex;
  align-items: start;
  width: max-content;
  gap: 0.4rem;
  padding: 0.5rem 0.9rem;
  margin: 0.8rem 0;
  border-radius: 0.6rem;
  color: var(--night-black);
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  background-color: white;
}

button:active {
  background-color: whitesmoke;
}
button:hover {
  padding: 0.57rem 0.95rem;
  cursor: pointer;
}

@media screen and (min-width: 1500px) {
  body {
    font-size: 20px;
  }
}

.links {
  text-decoration: none;
}
